.pgnTableCtnV2 {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 1040px;
    height: 470px;
}

.pgnBtnGroupV2 {
    text-align: center;
    width: 1040px;
}

.topBottomMargin {
    margin-top: 10px;
    margin-bottom: 40px;
}

.tableDiv {
    height: 400px;
}

.btnGroupDiv {
    text-align: center;
}