
.list {
    padding: 0px;
    list-style-type: none;
    font-size: 15px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: left;
}

.list_item {
    margin-right: 20px;
    cursor: pointer;
}

.list_header {
    display: flex;
    justify-content: left; /* 가로축 정렬 */
    list-style-type: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    height: 45px;
    align-items: center; /* 세로축 정렬 */
    font-size: 15px;
}

.list_item_header {
    margin-right: 20px;
    cursor: pointer;
}